filebeat.modules:
- module: nginx
  access:
    var.paths: ["/var/log/nginx/access.log"]
  error:
    var.paths: ["/var/log/nginx/error.log"]

setup.dashboards.enabled: true

output.elasticsearch:
  hosts: ["http://{{ groups[ 'elastic_server' ][0] }}:9200"]

setup.kibana:
  host: "http://{{ groups[ 'kibana_server' ][0] }}:5601"